[submodule "delivery_slip_rqz"]
	path = delivery_slip_rqz
	url = git@github.com:GustavoRequiez/delivery_slip_rqz.git
	branch = master
[submodule "measurement_processes_production"]
	path = measurement_processes_production
	url = git@github.com:GustavoRequiez/measurement_processes_production.git
	branch = master
[submodule "incoming_products_kardex"]
	path = incoming_products_kardex
	url = git@github.com:GustavoRequiez/incoming_products_kardex.git
	branch = master
[submodule "mrp_sale_info"]
	path = mrp_sale_info
	url = git@github.com:humanytek-team/mrp_sale_info.git
	branch = 12.0
[submodule "product_brand"]
	path = product_brand
	url = git@github.com:GustavoRequiez/product_brand.git
	branch = master
[submodule "product_classification"]
	path = product_classification
	url = git@github.com:GustavoRequiez/product_classification.git
	branch = master
[submodule "revenue_history_projection"]
	path = revenue_history_projection
	url = git@github.com:GustavoRequiez/revenue_history_projection.git
	branch = master
[submodule "value_merchandise_sent"]
	path = value_merchandise_sent
	url = git@github.com:GustavoRequiez/value_merchandise_sent.git
	branch = master
[submodule "stock_kardex"]
	path = stock_kardex
	url = git@github.com:humanytek-team/stock_kardex.git
	branch = 12.0
[submodule "stock_lot_validation"]
	path = stock_lot_validation
	url = git@github.com:humanytek-team/stock_lot_validation.git
	branch = 12.0
[submodule "stock_no_negative"]
	path = stock_no_negative
	url = git@github.com:GustavoRequiez/stock_no_negative.git
	branch = master
[submodule "product_supply"]
	path = product_supply
	url = git@github.com:humanytek-team/product_supply.git
	branch = 12.0
[submodule "sale_brand"]
	path = sale_brand
	url = git@github.com:humanytek-team/sale_brand.git
	branch = 12.0
[submodule "product_compromise"]
	path = product_compromise
	url = git@github.com:humanytek-team/product_compromise.git
	branch = 12.0
[submodule "mrp_ii"]
	path = mrp_ii
	url = git@github.com:humanytek-team/mrp_ii.git
	branch = 12.0
[submodule "sale_commission"]
	path = sale_commission
	url = git@github.com:humanytek-team/sale_commission.git
	branch = 12.0
[submodule "sale_order_observation"]
	path = sale_order_observation
	url = git@github.com:humanytek-team/sale_order_observation.git
	branch = 12.0
[submodule "requiez"]
	path = requiez
	url = git@github.com:humanytek-team/requiez.git
	branch = 12.0
[submodule "remove_attachemnts_invoice"]
	path = remove_attachemnts_invoice
	url = git@github.com:GustavoRequiez/remove_attachemnts_invoice.git
	branch = master
