[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 12.0

[submodule "GustavoRequiez/delivery_slip_rqz"]
	path = GustavoRequiez/delivery_slip_rqz
	url = git@github.com:GustavoRequiez/delivery_slip_rqz.git
	branch = master

[submodule "GustavoRequiez/measurement_processes_production"]
	path = GustavoRequiez/measurement_processes_production
	url = git@github.com:GustavoRequiez/measurement_processes_production.git
	branch = master

[submodule "GustavoRequiez/incoming_products_kardex"]
	path = GustavoRequiez/incoming_products_kardex
	url = git@github.com:GustavoRequiez/incoming_products_kardex.git
	branch = master

[submodule "GustavoRequiez/product_brand"]
	path = GustavoRequiez/product_brand
	url = git@github.com:GustavoRequiez/product_brand.git
	branch = master

[submodule "GustavoRequiez/product_classification"]
	path = GustavoRequiez/product_classification
	url = git@github.com:GustavoRequiez/product_classification.git
	branch = master

[submodule "GustavoRequiez/revenue_history_projection"]
	path = GustavoRequiez/revenue_history_projection
	url = git@github.com:GustavoRequiez/revenue_history_projection.git
	branch = master

[submodule "GustavoRequiez/value_merchandise_sent"]
	path = GustavoRequiez/value_merchandise_sent
	url = git@github.com:GustavoRequiez/value_merchandise_sent.git
	branch = master

[submodule "GustavoRequiez/stock_no_negative"]
	path = GustavoRequiez/stock_no_negative
	url = git@github.com:GustavoRequiez/stock_no_negative.git
	branch = master

[submodule "GustavoRequiez/remove_attachemnts_invoice"]
	path = GustavoRequiez/remove_attachemnts_invoice
	url = git@github.com:GustavoRequiez/remove_attachemnts_invoice.git
	branch = master

[submodule "humanytek-team/mrp_sale_info"]
	path = humanytek-team/mrp_sale_info
	url = git@github.com:humanytek-team/mrp_sale_info.git
	branch = 12.0

[submodule "humanytek-team/stock_kardex"]
	path = humanytek-team/stock_kardex
	url = git@github.com:humanytek-team/stock_kardex.git
	branch = 12.0

[submodule "humanytek-team/stock_lot_validation"]
	path = humanytek-team/stock_lot_validation
	url = git@github.com:humanytek-team/stock_lot_validation.git
	branch = 12.0

[submodule "humanytek-team/product_supply"]
	path = humanytek-team/product_supply
	url = git@github.com:humanytek-team/product_supply.git
	branch = 12.0
