[submodule "mexico"]
	path = mexico
	url = git@git.vauxoo.com:vauxoo/mexico.git
	branch = 12.0
[submodule "vendor-bills"]
	path = vendor-bills
	url = git@git.vauxoo.com:vauxoo/vendor-bills.git
	branch = 12.0

[submodule "OCA/openupgradelib"]
	path = OCA/openupgradelib
	url = git@github.com:OCA/openupgradelib.git
	branch = master

[submodule "OCA/product-attribute"]
	path = OCA/product-attribute
	url = git@github.com:OCA/product-attribute.git
	branch = 12.0

[submodule "OCA/stock-logistics-workflow"]
	path = OCA/stock-logistics-workflow
	url = git@github.com:OCA/stock-logistics-workflow.git
	branch = 12.0

[submodule "OCA/server-ux"]
	path = OCA/server-ux
	url = git@github.com:OCA/server-ux.git
	branch = 12.0

[submodule "GustavoRequiez/measurement_processes_production"]
	path = GustavoRequiez/measurement_processes_production
	url = git@github.com:GustavoRequiez/measurement_processes_production.git
	branch = master

[submodule "GustavoRequiez/incoming_products_kardex"]
	path = GustavoRequiez/incoming_products_kardex
	url = git@github.com:GustavoRequiez/incoming_products_kardex.git
	branch = master
